body {
}

html, body {
    margin: 0;
    background-color: #evee;
    display: flex;
    justify-content: center;
}

$totalCols: 200;

/* https://css-tricks.com/making-a-bar-chart-with-css-grid/ */
.bar-graph {
    height: 80vh;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat($totalCols, 1fr);
    grid-template-rows: repeat($totalCols, 1fr);
    grid-column-gap: 1px;
    padding-top: 5vh;
    margin: auto;
}

@mixin chartValue($data) {
    $totalRows: $totalCols + 1;
    $result: $totalRows - $data;
    grid-row-start: $result;
}

@for $i from 1 through $totalCols {
    .bar-#{$i} {
        @include chartValue($i);
        grid-row-end: $totalCols + 1;
        border-radius: 3px 3px 0 0;
        background-color: #ff4136;
    }
}

.nav-bar{
    width: 100vw;
    height: 5vh;
    background-color: darkblue;
    
}

button{
    background-color: darkblue;
    border: none;
    font: bold 14px roboto, verdana;
    color: white;
    cursor: pointer;
    margin-top: 1vh;
}

button:focus {
    outline: 0;
}

.restart-btn{
    padding-right: 25vw;
}

.sort-btn{
    padding-right: 2vw;
}